@media screen and (max-width: 1024px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {

  /* Header & Nav */
  .header {
    flex-direction: column;
    padding: 15px 20px;
    position: fixed;
    top: auto;
    bottom: 0;
    gap: 15px;
    width: 100%;
    left: 0;
    z-index: 1000;
    background: rgbargba(5, 5, 5, 0.98);
    border-bottom: none;
    border-top: 1px solid var(--border-color);
  }

  .navbar ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .navbar a {
    font-size: 1rem;
    padding: 5px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
  }

  .logo h1 {
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-main);
    letter-spacing: 1px;
    text-align: center;
  }

  .logo p {
    font-size: 0.9rem;
    color: var(--neon-green);
  }

  /* Hero Section */
  .hero {
    flex-direction: column-reverse;
    text-align: center;
    padding: 40px 20px 120px 20px;
    min-height: 100vh;
    justify-content: center;
    ;
    gap: 40px;
  }


  .hero-content,
  .hero-image {
    max-width: 100%;
    width: 100%;
  }

  .hero-content h2 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
    margin-bottom: 30px;
  }

  .scanner-frame {
    width: 250px;
    height: 250px;
    margin: 0 auto;

  }


  .about,
  .portfolio,
  .contact {
    padding: 50px 20px;
  }

  .about {
    flex-direction: column;
    gap: 30px;
    padding: 80px 20px 100px 20px;
  }

  .about-text p {
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.6;
  }

  .skills {
    text-align: center;
    width: 100%;
  }

  h3 {
    border-left: none;
    border-bottom: 2px solid var(--neon-green);
    padding-left: 0;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 25px;
  }

  .skills-grid {
    justify-content: center;
  }

  .projects-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .portfolio {
    flex-direction: column;
    text-align: center;
    padding: 80px 20px 120px 20px;
    border-top: 1px solid var(--border-color);
  }

  .card-img {
    height: 180px;
  }

  .card-img img {
    height: 180px;
    object-fit: cover;
    object-position: top;
  }


  .animacao-container {
    height: 180px;
  }

  .project-card .animacao-container img {
    animation: passarSlide 3s infinite;
  }

  .project-card .animacao-container .img-1 {
    animation-delay: 0s;
  }

  .project-card .animacao-container .img-2 {
    animation-delay: 1s;
  }

  .project-card .animacao-container .img-3 {
    animation-delay: 2s;
  }

  .project-card {
    padding: 15px;
    text-align:left;
  }

  .project-card h4 {
    font-size: 1.15rem;
    margin-top: 5px;
  }
  .project-card p {
    font-size: 0.9rem;
    line-height: 1.5;
  }


  .contact-wrapper {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }

  .contact-info {
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    margin-top: 20px;
  }


  .wrapper-imagem {
    height: 180px;
  }

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--neon-green);
    border-radius: 20px;
    border: 3px solid var(--neon-green);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--cor-secundaria);
  }


  body.cyber-theme {
    padding-bottom: 130px;
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
    overflow-x: clip;
  }

  html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--neon-green) transparent;
    overflow-x: clip;
    width: 100%;
  }

  html,
  body {
    overflow-x: clip;
    width: 100%;
  }

}