@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Tilt+Neon&display=swap');

:root {
    --bg-color: #050505;
    --text-main: #FFFFFF;
    --text-muted: #A0A0A0;
    --neon-green: #00FF66;
    --card-bg: #0D0D0D;
    --border-color: #1A1A1A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    letter-spacing: 1.5px;
}

body.cyber-theme {
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
    overflow-x: hidden;
}

/* Header & Nav */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(5, 5, 5, 0.9);
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo h1 {
    font-size: 1.5rem;
    color: var(--text-main);
    letter-spacing: 1px;
}


.logo p {
    font-size: 0.8rem;
    color: var(--neon-green);
    animation: neon-text 5s ease-in-out infinite;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.9rem;
    transition:
        color 0.3s,
        text-shadow 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--neon-green);
    text-shadow: 0 0 8px var(--neon-green);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 300px 50px;
    min-height: 100vh;
}

.hero-content {
    max-width: 100%;
}

.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.neon-text {
    color: var(--neon-green);
    text-shadow: 0 0 10px rgba(0, 255, 102, 0.5);
    animation: neon-text 5s ease-in-out infinite;

}

@keyframes neon-text {

    0%,
    100% {
        filter: drop-shadow(0 0 1px var(--neon-green)) drop-shadow(0 0 1px rgba(0, 255, 102, 0.1));
    }

    50% {
        filter: drop-shadow(0 0 1px var(--neon-green)) drop-shadow(0 0 1px rgba(0, 255, 102, 0.6));
    }

}

.hero-content p {
    color: var(--text-muted);
    margin-bottom: 40px;
    font-size: 1.1rem;
}

/* Buttons */
.neon-btn {
    display: inline-block;
    padding: 12px 24px;
    background: transparent;
    color: var(--neon-green);
    border: 1px solid var(--neon-green);
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow:
        inset 0 0 5px rgba(0, 255, 102, 0.2),
        0 0 5px rgba(0, 255, 102, 0.2);
}

.neon-btn:hover {
    background: var(--neon-green);
    color: var(--bg-color);
    box-shadow:
        0 0 15px var(--neon-green),
        inset 0 0 10px var(--neon-green);
}

/* Hero Image Frame */
.foto-perfil {
    width: 40%;
    display: flex;
    justify-content: center;
    animation: flutuar 3s ease-in-out infinite, neon-perfil 2s ease-in-out infinite;
    filter: drop-shadow(0 0 5px var(--neon-green)) drop-shadow(0 0 5px rgba(0, 255, 102, 0.4));
}

@keyframes neon-perfil {

    0%,
    100% {
        filter: drop-shadow(0 0 5px var(--neon-green)) drop-shadow(0 0 10px rgba(0, 255, 102, 0.1));
    }

    50% {
        filter: drop-shadow(0 0 6px var(--neon-green)) drop-shadow(0 0 6px rgba(0, 255, 102, 0.6));
    }

}


@keyframes flutuar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.scanner-frame {
    width: 300px;
    height: 300px;
    background-color: #f7f4ee;

    border: 6px solid var(--neon-green);
    /* Aumentei para 3px para ficar bem nítido */

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    clip-path: polygon(10% 0, 90% 0,
            100% 10%, 100% 90%,
            90% 100%, 10% 100%,
            0 90%, 0 10%);
}

.scanner-frame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.placeholder-img {
    width: 100%;
    height: 100%;
    background: #111;
    opacity: 0.8;
}

.about {
    padding: 300px 50px;
    display: flex;
    gap: 50px;
    background: linear-gradient(180deg, var(--bg-color) 0%, #080808 100%);
    border-top: 1px solid var(--border-color);
}

.about-text,
.skills {
    flex: 1;
}

h3 {
    color: var(--text-main);
    margin-bottom: 20px;
    font-size: 1.5rem;
    border-left: 4px solid var(--neon-green);
    padding-left: 10px;
}

.about-text p {
    color: var(--text-muted);
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-tag {
    padding: 8px 15px;
    background: var(--card-bg);
    border: 1px solid var(--neon-green);
    color: var(--neon-green);
    font-size: 0.9rem;
    box-shadow: 0 0 5px rgba(0, 255, 102, 0.1);
}

.skill-tag:hover {
    animation: flutuar-leve 2s ease-in-out infinite, neon-perfil 2s ease-in-out infinite;

}

@keyframes flutuar-leve {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Portfolio Section */
.portfolio {
    padding: 80px 50px;
    border-top: 1px solid var(--border-color);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.project-card {
    background: var(--card-bg);
    border: 1px solid var(--border-color);
    padding: 20px;
    transition:
        transform 0.3s,
        border-color 0.3s,
        box-shadow 0.3s;
    cursor: pointer;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: var(--neon-green);
    box-shadow: 0 0 15px rgba(0, 255, 102, 0.15);
    animation: flutuar 3s ease-in-out infinite, neon-perfil 2s ease-in-out infinite;


}

.project-link {
    text-decoration: none;
    display: block;
    color: inherit;
}



.animacao-container {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 15px;
    border-bottom: 1px solid var(--border-color);
    overflow: hidden;
}


.animacao-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    opacity: 0;
}

.animacao-container .img-1 {
    opacity: 1;
}

.project-card:hover .animacao-container img {
    animation: passarSlide 3s infinite;
}

.project-card:hover .animacao-container .img-1 {
    animation-delay: 0s;
}

.project-card:hover .animacao-container .img-2 {
    animation-delay: 1s;
}

.project-card:hover .animacao-container .img-3 {
    animation-delay: 2s;
}

@keyframes passarSlide {
    0%,
    25% {
        opacity: 1;
        z-index: 2;
    }
    33.33%,
    100% {
        opacity: 0;
        z-index: 1;
    }
}

.project-card h4 {
    color: var(--neon-green);
    margin-bottom: 10px;
}

.project-card p {
    color: var(--text-muted);
    font-size: 0.9rem;
}

/* Contact Section */
.contact {
    padding: 300px 50px;

    border-top: 1px solid var(--border-color);
    background: #080808;
}

.contact-wrapper {
    display: flex;
    gap: 50px;
}

.contact-form {
    flex: 2;
}

.contact-info {
    flex: 1;
    padding-top: 50px;
}

.contact-info p {
    color: var(--text-muted);
    margin-bottom: 10px;
}

.contact-info strong {
    color: var(--text-main);
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    background: var(--bg-color);
    border: 1px solid var(--border-color);
    color: var(--text-main);
    outline: none;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-color: var(--neon-green);
    box-shadow: 0 0 5px rgba(0, 255, 102, 0.2);
}

/* Responsividade básica */
@media (max-width: 768px) {

    .hero,
    .about,
    .contact-wrapper {
        flex-direction: column;
        text-align: center;
    }

    .hero-content,
    .foto-perfil {
        max-width: 100%;
        width: 100%;
    }

    h3 {
        border-left: none;
        border-bottom: 2px solid var(--neon-green);
        padding-bottom: 10px;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--neon-green);
    border-radius: 10px;
    border: 3px solid var(--neon-green);
    box-shadow: 0 0 5px rgba(0, 255, 102, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--cor-secundaria);
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--neon-green) transparent;
}

#particulas-fundo {
    position: fixed;
    top: -5vh;
    left: -5vh;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
    background-color: var(--bg-color);
}

.particula-logo {
    position: absolute;
    bottom: -50px;

    color: var(--neon-green);
    filter: drop-shadow(0 0 5px var(--neon-green)) drop-shadow(0 0 10px rgba(0, 255, 102, 0.4));
    opacity: 0;
    animation: subir linear forwards;
}

@keyframes subir {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    10% {
        opacity: 0.3;
    }

    90% {
        opacity: 0.3;
    }

    100% {
        transform: translateY(-110vh) rotate(360deg);
        opacity: 0;
    }
}

textarea {
    resize: none;
}